$break-small: 950px;

.tree-container-view {
  visibility: visible !important;
  width: 100vw;
  height: 70vh;
  position: absolute;
  bottom: 20vh;
  background-color: white;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.go-back-btn {
  position: absolute;
  bottom: 0vh;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 20vh;
  background-color: transparent;
}
.go-back-icon
{
    background-color : black;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    * {
        margin-top: 0px !important;
        margin-bottom: 0px !important;

    }

}
