.aboutpage-text{
    margin-right: 25vw;
    margin-left : 5vw;
    font-size: 3vh;
   
}

.about-page{
    overflow: scroll;
    height: 100vh;
}

.start-playing-button{
    margin-top:50px;
    margin-bottom:50px;
  margin-left:10vw;
      width: 50vw;
    background-color:transparent;
    height:100px;
      @media screen and (max-width: 800px) {
         width: 80vw;
        margin-left:5vw;    background-color:transparent;
  }
}
